body {
    background-color: #093d5b;
}

/*-------------------------- Container */
.point {
    position: absolute;
    top: 2%;
    left: 26%;
}
.container {
    
     position: relative;
    background-color: #06375d;
    width: 624px;
    height: 624px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px #7AAAFF, 0px 0px 25px 0px #7AAAFF;
    border: 5px solid #f9fffe;
}
.container:before {
        content: "";
        position: absolute;
        left: 45px;
        top: 45px;
        width: 534px;
        height: 534px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 2px #0e3e62;
    }
/*----end*/

/*-------------------------- circle inside Container*/
    .container > .PlaygroundChild {
        position: absolute;
        left: 90px;
        top: 90px;
        background-color: #0e4c7d;
        width: 444px;
        height: 444px;
        border-radius: 50%;
        box-shadow: inset 0 0 9px #205c91, 0px 0px 3px 3px #3e7aab;
    }

        .container > .PlaygroundChild::before {
            content: "";
            position: absolute;
            left: 35px;
            top: 35px;
            width: 374px;
            height: 374px;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 2px #125082;
        }

        .container > .PlaygroundChild::after {
            content: "";
            position: absolute;
            left: 70px;
            top: 70px;
            width: 304px;
            height: 304px;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 2px #125082;
        }

        .container > .PlaygroundChild > .PlaygroundGrandChild {
            position: absolute;
            left: 105px;
            top: 105px;
            background-color: #2d74aa;
            width: 234px;
            height: 234px;
            border-radius: 50%;
            box-shadow: inset 0 0 9px #4689c1, 0px 0px 3px 3px #5c9bd8;
        }

            .container > .PlaygroundChild > .PlaygroundGrandChild::before {
                content: "";
                position: absolute;
                left: 25px;
                top: 25px;
                width: 184px;
                height: 184px;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 2px #387cb4;
            }

            .container > .PlaygroundChild > .PlaygroundGrandChild::after {
                content: "";
                position: absolute;
                left: 50px;
                top: 50px;
                width: 134px;
                height: 134px;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 2px #387cb4;
            }

            .container > .PlaygroundChild > .PlaygroundGrandChild > .PlaygroundDestroy {
                position: absolute;
                left: 75px;
                top: 75px;
                width: 84px;
                height: 84px;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 2px #518dc4;
            }

/*---------end*/


/*Div in center of container*/
.divCenter {
    content: "";
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #e40002;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: inset 0 0 9px #980021, 0px 0px 3px 3px #9f001d;
    
}
.divCenter::after{
    content: "";
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #a80003;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: inset 0 0 9px #aa0001, 0px 0px 3px 3px #9f001d;
}
/*--------------------------My ship */
.myship {
    display: inline-block;
    width: 10px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    background-color: #da00ff;
    box-shadow: 0px 0px 7px #da00ff;
}
.myship:before {
    content: "";
    position: absolute;
    display: inline-block;
    margin: 7px;
    width: 23px;
    height: 19px;
    top: 17px;
    left: -14px;
    border-radius: 100%;
    box-shadow: 0px -5px 1px 2px #da00ff;
}
/* ----end */

/*for movement of sleep health an sleep enemy*/
@-webkit-keyframes rotation {
    to {
        transform: rotate(999999deg);
    }
}

@keyframes rotation {
    to {
        transform: rotate(999999deg);
    }
}

/*-------------------------Sleep Health*/
.sleephealth {
    background-color: greenyellow;
    box-shadow: 0px 0px 7px greenyellow;
    position:absolute;  /*GM*/
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50px;   
    -webkit-animation: circleEffect 2s linear infinite;
    animation: circleEffect 2s linear infinite;
}
@-webkit-keyframes circleEffect {
    0% {
        width: 23px;
        height: 25px;
    }

    25% {
        width: 25px;
        height: 23px;
    }

    50% {
        width: 23px;
        height: 25px;
    }

    75% {
        width: 25px;
        height: 23px;
    }

    100% {
        width: 23px;
        height: 25px;
    }
}
@keyframes circleEffect {
    0% {
        width: 23px;
        height: 25px;
    }

    25% {
        width: 25px;
        height: 23px;
    }

    50% {
        width: 23px;
        height: 25px;
    }

    75% {
        width: 25px;
        height: 23px;
    }

    100% {
        width: 23px;
        height: 25px;
    }
}
/*--------end of Sleep health*/

/*------------------------- Movable health*/
.movablehelath{
    background-color: greenyellow;
    box-shadow: 0px 0px 7px greenyellow;
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 24px;
    border-radius: 50%;
    -webkit-animation: rotation 7000s linear infinite alternate;
    animation: rotation 7000s linear infinite alternate;
}
.movablehelath:after {
        background: inherit;
        content: "";
        height: 12px;
        left: -6px;
        position: absolute;
        top: 6px;
        width: 24px;
        border-radius: inherit;
        box-shadow: inherit;
    }

/*-------end*/
/*-----------------------------Triangle Health*/
.trianglehealth {
    position: absolute;
    display: inline-block;
    padding-top: 2px;
    width: 38px;
    height: 20px;
    overflow: hidden;
    box-shadow: 0 5px 7px -5px greenyellow;
}
.trianglehealth:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: greenyellow;
    transform: rotate(45deg);
    top: 7px;
    left: 7px;
    border-radius: 20%;
    box-shadow: 0px 0px 7px 0px greenyellow;
    -webkit-animation: circleEffect 2s linear infinite;
    animation: circleEffect 2s linear infinite;
}
/*-------end*/

/*----------------------------- Sleep Enemy*/
.sleepenemy{
    background-color: red;
    box-shadow: 0px 0px 7px red;
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20eg);
    -webkit-animation: rotation 200s linear infinite alternate;
    animation: rotation 200s linear infinite alternate;
}
.sleepenemy:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    box-shadow: inherit;
    background-color: inherit;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}
/*--------end*/

/*--------------------------------movable Enemy*/
.movableenemy{
    background-color: red;
    box-shadow: 0px 0px 7px red;
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-radius: 20%;
    border-bottom-right-radius: 50%;
}
.movableenemy:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px -4px 1px 2px red;
    transform: rotate(-45deg);
}
/*----------end*/
