body {
    /*background-color: #093d5b;*/
}

.container {
    background-image: url('../img/JSBackground.png');
    background-size: 657px 657px;
    background-position-x: -5px;
    background-position-y: -7px;
    background-repeat: no-repeat;
    background-color: #009688;
    position: absolute;
    left: 26%;
    width: 646px;
    height: 646px;
    border-radius: 50%;
}

.healthcircle {
    background-color: greenyellow;
    box-shadow: 0px 0px 7px greenyellow;
    position:absolute;  /*GM*/

    margin: 7px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50px;   
}
